<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLGeqjXMK5JKrER5rFN9T_2SvN7fPr9yU</string>
	<key>GCM_SENDER_ID</key>
	<string>23916134319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-45059</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-45059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23916134319:ios:e4d2b4b9908d1d356a395a</string>
</dict>
</plist>